<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Se connecter</title>
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/logo/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/logo/favicon-16x16.png}">
    <link rel="icon" th:href="@{/logo/favicon.ico}" type="image/x-icon"/>
</head>
    <body>
        <form class="form-section" th:action="@{/login}" method="post">
            <h1>Se connecter</h1>
            <div th:if="${param.error}">
                Nom d'utilisateur et/ou mot de passe incorrect.
            </div>
            <div th:if="${param.logout}">
                Vous avez été déconnecté.
            </div>
            <div class="form-group">
                <label for="username"> Nom d'utilisateur </label>
                <input type="text" name="username" id="username"/>
            </div>
            <div class="form-group">
                <label for="password"> Mot de passe </label>
                <input type="password" name="password" id="password"/>
            </div>
            <button type="submit" class="add-btn">Se connecter</button>
        </form>
    </body>
</html>