<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>
	<th:block th:if="${jeu.noJeu != null }">
	    <h2>Modifier le jeu</h2>
	</th:block>
	<th:block th:unless="${jeu.noJeu != null }">
    	<h2>Ajouter un jeu</h2>
    </th:block>
</title>
<link th:href="@{/css/form.css}" rel="stylesheet">
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
	
	<th:block th:object="${jeu}">
	
		<form action="/jeux/ajouter" method="post" >
			<h1>Ajout d'un jeu</h1>
			<div style="color: red;" th:if="${#fields.hasErrors('*')}" >
				<p>Des erreurs de saisie sont apparues.</p>
			</div>
			
			<input type="hidden" th:field="*{noJeu}" id="noJeu">
			<div class="form-group">
				<label for="titre">Titre <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('titre') ? 'input-error' : ''}" type="text" th:field="*{titre}" id="titre" placeholder="Titre du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('titre')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('titre')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="reference">Référence <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('reference') ? 'input-error' : ''}"  type="text" th:field="*{reference}" id="reference" placeholder="Réference du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('reference')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('reference')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="description">Description</label> <input
					th:attr="class=${#fields.hasErrors('reference') ? 'input-error' : ''}"
					type="text" th:field="*{reference}" id="reference"
					placeholder="Réference du jeu"> <span style="color: red;" th:if="${#fields.hasErrors('reference')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('reference')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="tarifJournee">Tarif journée</label>
				<input th:attr="class=${#fields.hasErrors('tarifJournee') ? 'input-error' : ''}" type="number" th:field="*{tarifJournee}" id="tarifJournee" placeholder="Tarif journalier du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('tarifJournee')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('tarifJournee')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="tarifJournee">Tarif journée</label>
				<input th:attr="class=${#fields.hasErrors('tarifJournee') ? 'input-error' : ''}" type="number" th:field="*{tarifJournee}" id="tarifJournee" placeholder="Tarif journalier du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('tarifJournee')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('tarifJournee')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="ageMin">Age minimum<span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('ageMin') ? 'input-error' : ''}" type="number" th:field="*{ageMin}" id="ageMin" placeholder="Age minimum pour jouer au jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('ageMin')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('ageMin')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="duree">Durée (en min)</label>
				<input th:attr="class=${#fields.hasErrors('duree') ? 'input-error' : ''}" type="number" th:field="*{duree}" id="duree" placeholder="Durée du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('duree')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('duree')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<button type="submit" class="add-btn">Ajouter</button>		
		</form>
	</th:block>
</body>
</html>