<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>
	<th:block th:if="${jeu.noJeu != null }">
	    Modifier le jeu
	</th:block>
	<th:block th:unless="${jeu.noJeu != null }">
    	Ajouter un jeu
    </th:block>
</title>
<link th:href="@{/css/form.css}" rel="stylesheet">
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
<div sec:authorize="isAuthenticated()">
	<form th:action="@{/logout}" method="post">
		<button type="submit" class="remove-btn">Se déconnecter</button>
	</form>
</div>
<div sec:authorize="!isAuthenticated()">
	<form th:action="@{/logout}" method="post">
		<button type="submit" class="add-btn">Se connecter</button>
	</form>
</div>
	<th:block th:object="${jeu}">
	
		<form action="/jeux/ajouter" method="post" >
			<h1>Ajout d'un jeu</h1>
			<div style="color: red;" th:if="${#fields.hasErrors('*')}" >
				<p>Des erreurs de saisie sont apparues.</p>
			</div>
			
			<input type="hidden" th:field="*{noJeu}" id="noJeu">
			<div class="form-group">
				<label for="titre">Titre <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('titre') ? 'input-error' : ''}" type="text" th:field="*{titre}" id="titre" placeholder="Titre du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('titre')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('titre')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="reference">Référence <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('reference') ? 'input-error' : ''}"  type="text" th:field="*{reference}" id="reference" placeholder="Réference du jeu" th:readonly="${noJeu != null}">
				<span style="color: red;" th:if="${#fields.hasErrors('reference')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('reference')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="description">Descripion</label> <input
					th:attr="class=${#fields.hasErrors('description') ? 'input-error' : ''}"
					type="text" th:field="*{description}" id="description"
					placeholder="Description du jeu"> <span style="color: red;" th:if="${#fields.hasErrors('description')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('description')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="tarifJournee">Tarif journée</label>
				<input th:attr="class=${#fields.hasErrors('tarifJournee') ? 'input-error' : ''}" type="number" step="0.01" th:field="*{tarifJournee}" id="tarifJournee" placeholder="Tarif journalier du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('tarifJournee')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('tarifJournee')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="ageMin">Age minimum<span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('ageMin') ? 'input-error' : ''}" type="number" th:field="*{ageMin}" id="ageMin" placeholder="Age minimum pour jouer au jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('ageMin')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('ageMin')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="duree">Durée (en min)</label>
				<input th:attr="class=${#fields.hasErrors('duree') ? 'input-error' : ''}" type="number" th:field="*{duree}" id="duree" placeholder="Durée du jeu">
				<span style="color: red;" th:if="${#fields.hasErrors('duree')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('duree')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="genresIdList">Genres</label>
				<select th:field="*{genresIdList}" id="genresIdList" multiple="multiple" size="6">
					<option th:each="genre : ${genres}"
							th:value="${genre.noGenre}"
							th:text="${genre.libelle}"
							th:selected="${jeu.getGenres().contains(genre)}"></option>
				</select>
				<span style="color: red;" th:if="${#fields.hasErrors('genresIdList')}">
					<ul>
						<li th:each="erreur : ${#fields.errors('genresIdList')}" th:text="${erreur}"></li>
					</ul>
				</span>
			</div>
			<button type="submit" class="add-btn">Ajouter</button>		
		</form>

	</th:block>
</body>
</html>