<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>
	<th:block th:if="${client.noClient != null }">
	    Modifier le client
	</th:block>
	<th:block th:unless="${client.noClient != null }">
    	Ajouter un client
    </th:block>
</title>
<link th:href="@{/css/form.css}" rel="stylesheet">
<link th:href="@{/css/common.css}" rel="stylesheet">
</head>
<body>
	<div sec:authorize="isAuthenticated()">
		<form th:action="@{/logout}" method="post">
			<button type="submit" class="remove-btn">Se déconnecter</button>
		</form>
	</div>
	<th:block th:object="${client}">
	
		<form action="/clients/ajouter" method="post" >
			<th:block th:if="${client.noClient != null }">
				<h1>Modifier le client</h1>
			</th:block>
			<th:block th:unless="${client.noClient != null }">
				<h1>Ajouter un client</h1>
			</th:block>
			<div style="color: red;" th:if="${#fields.hasErrors('*')}" >
				<p>Des erreurs de saisie sont apparues.</p>
			</div>
			
			<input type="hidden" th:field="*{noClient}" id="noClient">
			<div class="form-group">
				<label for="nom">Nom <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('nom') ? 'input-error' : ''}" type="text" th:field="*{nom}" id="nom" placeholder="Votre nom">
				<span style="color: red;" th:if="${#fields.hasErrors('nom')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('nom')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="prenom">Prenom <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('prenom') ? 'input-error' : ''}"  type="text" th:field="*{prenom}" id="prenom" placeholder="Votre prénom">
				<span style="color: red;" th:if="${#fields.hasErrors('prenom')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('prenom')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="email">Email <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('email') ? 'input-error' : ''}" type="email" th:field="*{email}" id="email" placeholder="Votre email">
				<span style="color: red;" th:if="${#fields.hasErrors('email')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('email')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="noTel">Numéro de téléphone </label>
				<input th:attr="class=${#fields.hasErrors('noTel') ? 'input-error' : ''}" type="text" th:field="*{noTel}" id="noTel" placeholder="Votre numéro de téléphone">
				<span style="color: red;" th:if="${#fields.hasErrors('noTel')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('noTel')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="rue">Rue <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('rue') ? 'input-error' : ''}" type="text" th:field="*{rue}" id="rue" placeholder="Votre rue">
				<span style="color: red;" th:if="${#fields.hasErrors('rue')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('rue')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="codePostal">Code postal <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('codePostal') ? 'input-error' : ''}" type="text" th:field="*{codePostal}" id="codePostal" placeholder="Votre code postal">
				<span style="color: red;" th:if="${#fields.hasErrors('codePostal')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('codePostal')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<div class="form-group">
				<label for="ville">Ville <span class="compulsory-cross">*</span> </label>
				<input th:attr="class=${#fields.hasErrors('ville') ? 'input-error' : ''}" type="text" th:field="*{ville}" id="ville" placeholder="Votre ville">
				<span style="color: red;" th:if="${#fields.hasErrors('ville')}">
					<ul>
						<li th:each="erreur: ${#fields.errors('ville')}" th:text="${erreur}"></li>
					</ul>
				</span>	
			</div>
			<button type="submit" class="add-btn">Ajouter</button>		
		</form>
	</th:block>
</body>
</html>